body {
    background-image: url('/assets/Recurso\ 1.png');
}

@keyframes dropIn {
    from {
        transform: translateY(-130px) translateX(-50%);
    }

    to {
        transform: translateY(0) translateX(-50%);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

#logo {
    animation: dropIn 1s ease-out forwards;
}

#brand-name {
    animation: slideIn 1s ease-out 0.5s forwards;
}